.btn {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0 20px;
  border: none;
  height: 32px;
  padding: 0 22px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  background: #2D89EF;
  text-align: center;
  border-radius: 3px;
  transition: background .3s ease;

  span {
    @include flexbox();
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    height: 100%;
  }

  &:hover {
    background: #2877d5;
  }

  &:active {
    background: #255fb3;
  }

  &_2 {
    width: 150px;
    height: 40px;
    background: $btn-2-back;

    &:hover {
      background: $btn-2-back-hover;
    }

    &:active {
      color: $btn-2-color-active;
      background: $btn-2-back-active;
    }
  }

}