.catalog-list{

  &__item{
    margin-bottom: 40px;
    padding-bottom: 50px;
    border-bottom: 3px solid #e8bc6b;

    &:last-child{
      padding-bottom: 0;
      border-bottom: none;
    }

  }

  &__promo{
    position: relative;
    text-align: left;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 26px;

    img{
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }

  }

  &__content{
    font-size: 15px;
    color: #6f4c38;
    text-indent: 14px;
    text-align: left;
  }

  &__title{
    margin-bottom: 20px;
    color: #962827;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    text-indent: 0;
  }

  &__topic {
    margin-top: 10px;
    color: #962827;
    font-size: 16px;
    font-weight: 600;
  }

  &__characteristic{
   text-indent: 0;

    td{
      padding-right: 10px;
    }

  }

  &__buy{
    display: inline-block;
    margin-bottom: 20px;
    padding: 4px 37px;
    color: #de9f25;
    font-size: 14px;
    border: 3px solid #de9f25;
    text-transform: uppercase;
    line-height: 20px;
    @include duoEvent(background-color, color);

    &:hover{
      background-color: #de9f25;
      color: #fff;
    }

  }

  &__tag{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    padding: 3px 3px 3px 10px;
    color: #fff;
    font: bold 12px/11px 'Arial', sans-serif;
    background-color: #dd9f24;
    text-align: center;
    text-transform: uppercase;

    &:after {
      left: 0;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(221, 159, 36, 0);
      border-left-color: #fff;
      border-width: 16px 0 16px 7px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }

  }

  &__control{
    padding-top: 10px;
    font-size: 12px;
    line-height: 18px;
    text-align: right;

    a{
      color: #da251d;
    }

  }

  &__link{
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }

  }

}
@media (min-width: $tablet-portrait) {

  .catalog-list__title{
    text-align: left;
  }

  .catalog-list__img{
    margin-bottom: 33px;
  }

  .catalog-list__item{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .catalog-list__promo{
    width: 380px;
  }

  .catalog-list__content{
    width: 380px;
  }

}