.catalog {
  margin-bottom: 33px;

  &__all{
    color: #6f4c38;
    font-size: 10px;
    text-decoration: underline;
  }

  &__item{
    position: relative;
    width: 228px;
    margin: 0 auto 15px;
    color: #6f4c38;
    font-size: 13px;
  }

  &__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 178px;
    margin-bottom: 16px;
  }

  &__title{
    margin-bottom: 8px;
    padding: 0 5px;
    color: #962827;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  &__control{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  &__content{
    height: 60px;
    line-height: 15px;
    margin-bottom: 13px;
    text-align: justify;
    overflow: hidden;
  }

  &__buy{
    color: #da251d;
    text-decoration: underline;
  }

  &__more{
    color: #da251d;
  }

  &__tag{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    padding: 3px 10px 3px 3px;
    color: #fff;
    font: bold 10px/9px 'Arial', sans-serif;
    background-color: #dd9f24;
    text-align: center;
    text-transform: uppercase;

    &:after {
      right: 0;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(221, 159, 36, 0);
      border-right-color: #fff;
      border-width: 16px 7px 16px 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }

  }

}

@media (min-width: $tablet-portrait) {

  .catalog {
    display: flex;
    justify-content: space-between;

    &__item{
      margin: 0;
    }

  }

}

@media (min-width: $desktop) {

  .catalog {
    display: flex;
    justify-content: space-between;
    width: 789px;
    padding: 0 11px 0 15px;

    &__item{

    }

  }

}