.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $menu-back;
  font-size: 19px;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  @include duoEvent(opacity, visibility);
  z-index: 3;

  &__layout{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 45px 15px;
    text-align: center;
  }

  &__item{
    display: block;
    margin-bottom: 25px;
    color: $menu-color;
  }

  &_visible{
    opacity: 1;
    visibility: visible;
  }

}

.menu-btn{
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 13px;
  right: 10px;
  width: 33px;
  padding: 9px 0;
  z-index: 10;
  cursor: pointer;

  span{
    display: block;
    width: inherit;
    height: 3px;
    background-color: #dc9a21;
    @include oneEvent(background-color);

    &:before,
    &:after{
      position: absolute;
      width: inherit;
      height: inherit;
      background-color: inherit;
      content: '';
      transition: top .3s ease, transform .3s ease, background-color .3s ease;
      -webkit-transition: top .3s ease, transform .3s ease, background-color .3s ease;
    }

    &:before{
      top: 0;
    }

    &:after{
      bottom: 0;
    }

  }

}

.menu-btn_close{

  span{
    background-color: transparent;

    &:before{
      top: 9px;
      background-color: #962827;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    &:after{
      bottom: 9px;
      background-color: #962827;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

  }

}

@media (min-width: $desktop) {
  .menu {
    position: relative;
    height: 53px;
    opacity: 1;
    visibility: visible;

    &__layout{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      position: relative;
      width: 1206px;
      margin: 0 auto;
      padding: 0;
    }

    &__item{
      height: 53px;
      margin-bottom: 0;
      padding: 18px 10px 0;
      border-bottom: 4px solid transparent;
      @include oneEvent(border-bottom-color);

      &:hover{
        border-bottom-color: $menu-color;
      }

    }

  }

  .menu-btn{
    display: none;
  }

}
